node_modules

/aka.md

public/vendor
public/wp
public/wp-content
public/composer.lock

public/wp-config.php
public/.htaccess

public/content/*
!/public/content

public/content/themes/*
!/public/content/themes
!/public/content/themes/wpcdc

public/content/plugins/*
!/public/content/plugins
!/public/content/plugins/wpcdc

!/public/content/uploads
